<h1 mat-dialog-title>{{title}}</h1>
{{periodDialogForm.value.periodGroup.endDate}}
<div mat-dialog-content>
  <form [formGroup]="periodDialogForm">
    <fieldset formGroupName="periodGroup">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Nome">
      </mat-form-field>
      
      <fieldset formGroupName="dates">
        <mat-form-field>
          <input matInput formControlName="startDate" mask="00/00/0000" [dropSpecialCharacters]="false" placeholder="Data do início">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="endDate" mask="00/00/0000" [dropSpecialCharacters]="false" placeholder="Data do fim">
        </mat-form-field>
      </fieldset>
    </fieldset>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onPeriodDialogSubmit()" [disabled]="periodDialogForm.invalid">{{this.submitButton}}</button>
</div>