<mat-card class="container">
  <form [formGroup]="ruleForm" (ngSubmit)="onSubmitRule()">
    <mat-card-title>Regra</mat-card-title>
    <div class="flex">
      <mat-form-field appearance="outline">
        <mat-label>Regra</mat-label>
        <mat-icon matPrefix>outlined_flag</mat-icon>
        <input matInput formControlName="description" placeholder="Digite a regra" required>
      </mat-form-field>
    </div>
    <mat-divider [inset]="true"></mat-divider>

    <button mat-raised-button color="primary" [disabled]="ruleForm.invalid">Salvar</button>
    <button mat-raised-button color="primary" (click)="ruleForm.reset()">Limpar</button>
  </form>
</mat-card>