table {
    text-align: left;
    width: 100%;
}

td, th {
    padding: 5px;
}

#actionbar {
    background: gray;
}

#delete-checkbox {
    width: 15px;
}

#list-action-button {
    float: right;
}

#list-action-button div div {
}

#navigation div {
}

#title {
}

#toolbar {
    background: gray;
}

#toolbar-action-button {
}

#toolbar-search {
}

#toolbar-action-button div div {
}