table {
    text-align: left;
    width: 100%;
}

td, th {
    padding: 5px;
}

#delete-checkbox {
    width: 15px;
}

#list-action-button {
    background: yellow;
}

#list-action-button div div {
}

#navigation div {
}

#title {
    background: blue;
}

#toolbar-action-button {
    background: green;
}

#toolbar-search {
    background: purple;
}

#toolbar-action-button div div {
}