<table *ngIf="!isLoading && params.toolbar" id="toolbar">
  <thead>
    <tr>
      <th id="title">
        {{title}}
      </th>
      
      <th *ngIf="search" id="toolbar-search">
        <mat-icon>{{search.icon}}</mat-icon>
      </th>

      <th *ngIf="toolbarActionButton" id="toolbar-action-button">
        <div *ngFor="let button of params.toolbar.actionButton;">
          <div *ngIf="button.type === 'icon'">
            <mat-icon (click)="onClickToolbarActionButton(button.trigger)" class="clickable-button">{{button.value}}</mat-icon>
          </div>

          <div *ngIf="button.type === 'raised'">
            <button mat-raised-button (click)="onClickToolbarActionButton(button.trigger)" class="clickable-button">{{button.value}}</button>
          </div>
        </div>
      </th>
    </tr>
  </thead>  
</table>

<table *ngIf="!isLoading" id="content">
  <thead>
    <tr>
      <th *ngIf="toolbarDelete">
        <mat-checkbox (change)="onClickCheckboxToDelete($event, {all: true})" [checked]="allAsChecked"></mat-checkbox>
      </th>
      <th *ngFor="let header of headers;">
        {{header}}
      </th>
      <th *ngIf="listActionButton" id="list-action-button">
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let column of columns; let h = index;">
      <td *ngIf="toolbarDelete" id="delete-checkbox">
        <mat-checkbox (change)="onClickCheckboxToDelete($event, column)" [checked]="column._checked" #deleteCheckbox></mat-checkbox>
      </td>

      <td *ngFor="let attribute of params.list.columns; let i = index;">
          {{column.attributes[attribute.attribute]}}
      </td>

      <td *ngIf="listActionButton" id="list-action-button">
        <div *ngFor="let button of params.list.actionButton;">
          <div *ngIf="button.type === 'icon' && condition">
            <mat-icon (click)="onClickListActionButton(button.trigger, column)" class="clickable-button">{{button.value}}</mat-icon>
          </div>
  
          <div *ngIf="button.type === 'raised'">
            <button mat-raised-button (click)="onClickListActionButton(button.trigger, column)" class="clickable-button">{{button.value}}</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="!isLoading && params.actionbar" id="actionbar">
  <thead>
    <tr>
      <th id="navigation">
        <div>          
          <mat-form-field *ngIf="params.actionbar.quantity">
            <mat-select placeholder="Quantidade" [(value)]="qtSelected" (selectionChange)="onChangeQuantity($event)">
              <mat-option *ngFor="let qt of [1,2,5,10,20,100,1000]" [value]="qt">
                {{qt}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="pagination">
          <mat-icon *ngIf="currentPage > 1" (click)="onChangePage('subtract')" class="clickable-button">keyboard_arrow_left</mat-icon>{{currentPage}} de {{pages}}<mat-icon *ngIf="currentPage < pages" (click)="onChangePage('add')" class="clickable-button">keyboard_arrow_right</mat-icon>
        </div>
      </th>
    </tr>
  </thead>  
</table>